body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3035 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:116px;
}
#u3036 {
  position:absolute;
  left:2px;
  top:50px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:69px;
}
#u3037 {
  position:absolute;
  left:273px;
  top:24px;
  width:173px;
  height:68px;
  font-size:18px;
}
#u3038 {
  position:absolute;
  left:2px;
  top:23px;
  width:169px;
  word-wrap:break-word;
}
#u3037_ann {
  position:absolute;
  left:439px;
  top:20px;
  width:1px;
  height:1px;
}
#u3039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3039 {
  position:absolute;
  left:1062px;
  top:46px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3040 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3041 {
  position:absolute;
  left:562px;
  top:38px;
  width:350px;
  height:40px;
}
#u3041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3042 {
  position:absolute;
  left:912px;
  top:38px;
  width:69px;
  height:40px;
}
#u3043 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3044 {
  position:absolute;
  left:932px;
  top:43px;
  width:30px;
  height:30px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3046 {
  position:absolute;
  left:0px;
  top:115px;
  width:1920px;
  height:68px;
}
#u3047 {
  position:absolute;
  left:2px;
  top:26px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u3048 {
  position:absolute;
  left:1376px;
  top:47px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u3050 {
  position:absolute;
  left:1477px;
  top:46px;
  width:30px;
  height:25px;
  color:#1E1E1E;
}
#u3051 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3052 {
  position:absolute;
  left:272px;
  top:137px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3053 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3054 {
  position:absolute;
  left:448px;
  top:137px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3055 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3056 {
  position:absolute;
  left:620px;
  top:137px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3057 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3058 {
  position:absolute;
  left:807px;
  top:137px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3059 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6633;
}
#u3060 {
  position:absolute;
  left:272px;
  top:193px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6633;
}
#u3061 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3062 {
  position:absolute;
  left:448px;
  top:208px;
  width:1233px;
  height:48px;
}
#u3063 {
  position:absolute;
  left:2px;
  top:16px;
  width:1229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3064 {
  position:absolute;
  left:463px;
  top:221px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3065 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6633;
}
#u3066 {
  position:absolute;
  left:463px;
  top:275px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6633;
}
#u3067 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3068 {
  position:absolute;
  left:504px;
  top:319px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3069 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3070 {
  position:absolute;
  left:504px;
  top:375px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3071 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3072 {
  position:absolute;
  left:602px;
  top:313px;
  width:89px;
  height:35px;
}
#u3072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3072_input:disabled {
  color:grayText;
}
#u3073 {
  position:absolute;
  left:707px;
  top:313px;
  width:89px;
  height:35px;
}
#u3073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3073_input:disabled {
  color:grayText;
}
#u3074 {
  position:absolute;
  left:811px;
  top:313px;
  width:89px;
  height:35px;
}
#u3074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3074_input:disabled {
  color:grayText;
}
#u3075 {
  position:absolute;
  left:602px;
  top:369px;
  width:484px;
  height:76px;
}
#u3075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3076 {
  position:absolute;
  left:511px;
  top:461px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3078 {
  position:absolute;
  left:602px;
  top:455px;
  width:484px;
  height:35px;
}
#u3078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3079 {
  position:absolute;
  left:486px;
  top:506px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u3081 {
  position:absolute;
  left:602px;
  top:500px;
  width:484px;
  height:35px;
}
#u3081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3082 {
  position:absolute;
  left:504px;
  top:556px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:right;
}
#u3083 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3084 {
  position:absolute;
  left:602px;
  top:550px;
  width:484px;
  height:35px;
}
#u3084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3085 {
  position:absolute;
  left:577px;
  top:624px;
  width:140px;
  height:40px;
}
#u3086 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3087 {
  position:absolute;
  left:448px;
  top:705px;
  width:847px;
  height:95px;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3088 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3089 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3090 {
  position:absolute;
  left:140px;
  top:0px;
  width:140px;
  height:30px;
}
#u3091 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3092 {
  position:absolute;
  left:280px;
  top:0px;
  width:140px;
  height:30px;
}
#u3093 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3094 {
  position:absolute;
  left:420px;
  top:0px;
  width:140px;
  height:30px;
}
#u3095 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3096 {
  position:absolute;
  left:560px;
  top:0px;
  width:140px;
  height:30px;
}
#u3097 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u3098 {
  position:absolute;
  left:700px;
  top:0px;
  width:142px;
  height:30px;
}
#u3099 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u3100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3100 {
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:30px;
}
#u3101 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3102 {
  position:absolute;
  left:140px;
  top:30px;
  width:140px;
  height:30px;
}
#u3103 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3104 {
  position:absolute;
  left:280px;
  top:30px;
  width:140px;
  height:30px;
}
#u3105 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3106 {
  position:absolute;
  left:420px;
  top:30px;
  width:140px;
  height:30px;
}
#u3107 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3108 {
  position:absolute;
  left:560px;
  top:30px;
  width:140px;
  height:30px;
}
#u3109 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u3110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u3110 {
  position:absolute;
  left:700px;
  top:30px;
  width:142px;
  height:30px;
  color:#0000FF;
}
#u3111 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u3112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3112 {
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:30px;
}
#u3113 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3114 {
  position:absolute;
  left:140px;
  top:60px;
  width:140px;
  height:30px;
}
#u3115 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3116 {
  position:absolute;
  left:280px;
  top:60px;
  width:140px;
  height:30px;
}
#u3117 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3118 {
  position:absolute;
  left:420px;
  top:60px;
  width:140px;
  height:30px;
}
#u3119 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u3120 {
  position:absolute;
  left:560px;
  top:60px;
  width:140px;
  height:30px;
}
#u3121 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u3122 {
  position:absolute;
  left:700px;
  top:60px;
  width:142px;
  height:30px;
}
#u3123 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3124 {
  position:absolute;
  left:272px;
  top:234px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3125 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3126 {
  position:absolute;
  left:272px;
  top:275px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3127 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3128 {
  position:absolute;
  left:272px;
  top:313px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3129 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3130 {
  position:absolute;
  left:272px;
  top:355px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3131 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3132 {
  position:absolute;
  left:272px;
  top:393px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3133 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u3134 {
  position:absolute;
  left:1242px;
  top:46px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u3135 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
